html{
    background-color: #00796B;

}

.container{
    background-color: #00796B;
    color: white;
}

#temp{
    font-size: 16vh;
}

#varMeteo div{
    font-size: 2.5vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

#coordinates span{
    font-size: 2.5vh;
    margin-left: 0.5vh;
}

.btn{
    border-radius:20vh;
    color: #00796B;
    background-color: lightgray;
}